<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/img/black-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Projects</h1>
                        <hr class="medium">
                        <span class="subheading">This is what I do</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="assets/img/estadium.jpg" alt="...">
                  <div class="caption">
                    <h3>eStadium</h3>
                    <p align="left">An application made to enhance Georgia Tech football fans' game-day experience and ensure their safety and security by enabling their mobile devices to access innovative infotainment and venue-related information via WiFi, Bluetooth, 3G and 4G data networks.</p>
                    <p><button type="button" class="btn btn-primary" (click)="modal.show()">Learn More</button>
                        <app-modal #modal>
                            <div class="app-modal-header">
                                <h1>eStadium</h1>
                            </div>
                            <div class="app-modal-body">
                                <p align="left" style="font-family:arial;">TECHNOLOGIES: Wireless and sensor networks, distributed systems, social networks, cloud computing, multi-media web applications, databases, games, graphics, user interface design. sensors.</p>
                                <p align="left" style="font-family:arial;">RESEARCH ISSUES: Scalable delivery of multi-media content over wireless channels; formation of transient social networks, peer-to-peer video streaming; data visualization; design/optimization of wireless networks; design/applications of sensor networks; distributed detection/estimation; structural health monitoring; game design/deployment.</p>
                                <p align="left" style="font-family:arial;">I personally worked on the GT football website with AngularJS, Ionic, and PHP. The website can be found at this link: <a href="http://estadium.gatech.edu">estadium.gatech.edu</a>.</p> 
                                <p align="left" style="font-family:arial;">RESEARCH ISSUES: Scalable delivery of multi-media content over wireless channels; formation of transient social networks, peer-to-peer video streaming; data visualization; design/optimization of wireless networks; design/applications of sensor networks; distributed detection/estimation; structural health monitoring; game design/deployment.</p>        
                            </div>
                            <div class="app-modal-footer">
                                <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
                            </div>
                        </app-modal></p>
                  </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="assets/img/estadium.jpg" alt="...">
                  <div class="caption">
                    <h3>PianoTube</h3>
                    <p><button type="button" class="btn btn-primary">Learn More</button></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="assets/img/estadium.jpg" alt="...">
                  <div class="caption">
                    <h3>Gain.io</h3>
                    <p><button type="button" class="btn btn-primary">Learn More</button></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="assets/img/estadium.jpg" alt="...">
                  <div class="caption">
                    <h3>Strive HackGT 2016</h3>
                    <p><button type="button" class="btn btn-primary">Learn More</button></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="assets/img/estadium.jpg" alt="...">
                  <div class="caption">
                    <h3>Intelligent Transportation Systems</h3>
                    <p>A software system to made to solve the problem of <a href="https://en.wikipedia.org/wiki/Bus_bunching">bus bunching</a> in the Georgia Tech Bus System by using </p>
                    <p><button type="button" class="btn btn-primary">Learn More</button></p>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                       <li>
                            <a href="https://www.linkedin.com/in/kevin-cai-982684113/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sCAIwalker">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Kevin's Website 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>