<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/img/black-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Kevin Cai</h1>
                        <hr class="medium">
                        <span class="subheading">Software Developer/Engineer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

   <!--  <div class="container">
        <pre>
            <code>
                <span><span class="visibility">public class</span> <span class="type">Kevin</span> <span class="visibility">implements</span> <span class="type">RamblinWreck, ComputerScientist</span> {{ '{' }}</span><br/>
                <span style="padding-left:5em;" class="java-comment">//Using mostly String fields for readability</span><br/>
                <span style="padding-left:5em;"><span class="visibility" span>private</span> <span class="type">boolean</span> <span class="variable-name">isUSCitizen</span> = <span class="visibility">true</span>;</span><br/>
                <span style="padding-left:5em;"><span class="visibility">private</span> <span class="type">String</span> <span class="variable-name">education</span> = <span class="string">"Georgia Institute of Technology"</span>;</span><br/>
                <span style="padding-left:5em;"><span class="visibility">private</span> <span class="type">String</span> <span class="variable-name">major</span> = <span class="string">"Computer Science"</span>;</span><br/>
                <span style="padding-left:5em;"><span class="visibility">private</span> <span class="type">int</span> <span class="variable-name">age</span> = <span class="type">20</span>;</span><br/>
                <span style="padding-left:5em;"><span class="visibility">private</span> <span class="type">String</span> <span class="variable-name">birthPlac</span>e = <span class="string">"Beijing, China"</span>;</span><br/>
                <span style="padding-left:5em;"><span class="visibility">private</span> <span class="type">String</span>[] <span class="variable-name">interests</span> = {{ '{' }}<span class="string">"WeightLifting"</span>,<span class="string">"Piano/Music"</span>, <span class="string">"Development"</span>, <span class="string">"Coding"</span>{{ '}' }};</span><br/>
                <span style="padding-left:5em;"><span class="visibility">private</span> <span class="type">String</span> <span class="variable-name">email</span> = <span class="string">"ccai41@gatech.edu"</span>;</span><br/>
                <span style="padding-left:5em;"><span class="visibility">public</span> <span class="Kevin">Kevin</span>() {{ '{' }}</span><br/>
                <span style="padding-left:5em;">{{ '}' }}</span><br/>
                <span>{{ '}' }}</span>
            </code>
        </pre>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
                <p>Hi, my name is Chengyuan, but I go by Kevin. I was born in China and moved to the U.S. when I was two. I got my <b>U.S. Citizenship</b> at age 18 and am currently a junior studying computer science at Georgia Tech with concentrations(threads) in Artificial Intelligence and Information Internetworks (Computer Networking).</p>
                <p>In my spare time, I lift weights, play piano, and code. Check out my "projects" tab if you want to see what I have done and what I am working on now!</p>
                <p>I'm currently looking for a software development/engineering internship for Summer <b>AND</b> Fall 2018</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.linkedin.com/in/kevin-cai-982684113/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sCAIwalker">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Kevin's Website 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>
